include ../mixins/charts/contents/chart-page.jade
include ../mixins/charts/all.jade

<!DOCTYPE html>
html(lang='en') 
	+head
	body
		+chart-page
		+scripts
		script(src='js/charts.js')
		script(src='js/templates.js')
		script(src='js/data/materials.js')
