include ../mixins/default.jade

<!DOCTYPE html>
html(lang='en')
	+head 
	body
		+header
		.content 
			p
				| EPA created WARM to help solid waste planners and organizations 
				| track and voluntarily report greenhouse gas emissions reductions, 
				| energy savings, and economic impacts from several different 
				| waste management practices. 
			p
				| Use this program to describe the baseline and alternative MSW 
				| management scenarios that you want to compare. Please follow the 
				| steps below to enter your material tonnage information in the 
				| input boxes in the tables, and select appropriate landfill,
				| anaerobic digestion, and waste transport characteristics. 
			p
				| For information on the definition of each of the WARM material 
				| types and underlying life-cycle data, please see the 
				a.external(href='https://www.epa.gov/warm/documentation-waste-reduction-model-warm') WARM documentation
				| .
			h3 Tips:
			ul
				li If the listed material is not generated in your community/organization or you do not want to analyze it, leave it blank or enter 0.
				li Make sure that the total quantity generated equals the total quantity managed.
				li If you have any questions, consult the 
					a.btn-user-guide(href='#') WARM User's Guide
					| .
			h3 Report:
			ul
				li After clicking "Get started", fill out the baseline and alternative scenario tables on the page "Scenarios" as well as the information on the page "Further Characteristics", then select the "Calculation" button to create a summary of your project. The inputs in the "General information" tab are optional and may be used to customize your summary report.
		.text-center.bottom-element: a(href='#').btn.btn-lg.btn-warm.btn-get-started Get Started
		+scripts
		script(src='js/home.js')