include ../mixins/production-report/contents/production-mtco2e.jade
include ../mixins/head.jade
include ../mixins/scripts.jade

<!DOCTYPE html>
html(lang='en')
	+head 
	body(data-type='GHG Emissions' data-unit='MTCE')
		+production-mtco2e
		
		#exception
		
		+scripts
		script(src='js/templates.js')
		script(src='js/production-report.js')