include ../mixins/summary-report/contents/summary-report-jobs.jade
include ../mixins/head.jade
include ../mixins/scripts.jade

<!DOCTYPE html>
html(lang='en')
	+head 
	body
		+summary-report-jobs
		+scripts
		script(src='js/templates.js')
		script(src='js/summary-report.js')