mixin analysis-result-table(type, unit, isAlternative)
	table.table.table-condensed.warm-table.analysis-result-table(data-alternative=isAlternative?'true':'false')
		thead
			tr.second-level-header.with-borders
				th Material
				th: +multiline-string(['Baseline', 'Generation', 'of Material', '(Tons)'])
				if isAlternative
					th: +multiline-string(['Projected', 'Source Reduction', '(Tons)'])
					th: +multiline-string(['Annual ' + type, 'from Source Reduction', '(' + unit + ')'])
				th: +multiline-string(['Projected', 'Recycling', '(Tons)'])
				th: +multiline-string(['Annual ' + type, 'from Recycling', '(' + unit + ')'])
				th: +multiline-string(['Projected', 'Landfilling', '(Tons)'])
				th: +multiline-string(['Annual ' + type, 'from Landfilling', '(' + unit + ')'])
				th: +multiline-string(['Projected', 'Combustion', '(Tons)'])
				th: +multiline-string(['Annual ' + type, 'from Combustion', '(' + unit + ')'])
				th: +multiline-string(['Projected', 'Composting', '(Tons)'])
				th: +multiline-string(['Annual ' + type, 'from Composting', '(' + unit + ')'])
				th: +multiline-string(['Total Annual ', type, '(' + unit + ')'])
		tbody