<?xml version="1.0" encoding="UTF-8"?>
<plugin>

	<extension
		id="product"
	    point="org.eclipse.core.runtime.products">
	    <product
           application="gov.epa.warm.application"
           name="WARM">
        <property
              name="appName"
              value="WARM">
        </property>
        <property
              name="windowImages"
              value="resources/icons/warm.png">
        </property>
	    </product>
	</extension>

	<extension
          id="application"
          point="org.eclipse.core.runtime.applications">
	    <application
	          cardinality="singleton-global"
	          thread="main"
	          visible="true">
	          <run
	                class="gov.epa.warm.rcp.Application">
	          </run>
	    </application>
	</extension>
	
	<extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="gov.epa.warm.rcp.Perspective"
            id="perspectives.standard">
      </perspective>
   </extension> 


	<!-- editors -->
	<extension
         point="org.eclipse.ui.editors">
      <editor
            class="gov.epa.warm.html.pages.HomePage"
            default="false"
            icon="resources/icons/home.gif"
            id="gov.epa.warm.HomePage"
            name="Home">
      </editor>
      <editor
            class="gov.epa.warm.html.pages.InputPage"
            default="false"
            icon="resources/icons/warm.png"
            id="gov.epa.warm.InputPage"
            name="WARM">
       </editor>
      <editor
            class="gov.epa.warm.html.pages.ReportPage"
            default="false"
            icon="resources/icons/warm.png"
            id="gov.epa.warm.ReportPage"
            name="Report">
       </editor>
	</extension>
   <extension
       point="org.eclipse.ui.elementFactories">
     <factory
            class="gov.epa.warm.html.HtmlEditorInputFactory"
            id="gov.epa.warm.HtmlEditorInputFactory">
     </factory>
   </extension>

</plugin>
