include ../all.jade

mixin chart-page(forExport)
	+header('Contributions', null, forExport)
	.content
		ul#chart-tabs.nav.nav-tabs
			li.active: a(href='#flowContributionsTab' aria-controls='flowContributionsTab' data-toggle='tab') Flow contributions
			li: a(href='#subtypeContributionsTab' aria-controls='subtypeContributionsTab' data-toggle='tab') Waste treatment contributions
			li: a(href='#materialContributionsTab' aria-controls='materialContributionsTab' data-toggle='tab') Material contributions
			li: a(href='#groupedContributionsTab' aria-controls='groupedContributionsTab' data-toggle='tab') Grouping
		.tab-content.chart-tabs
			#flowContributionsTab.tab-pane.active
				+chart-container('flowContributions', false)
			#subtypeContributionsTab.tab-pane
				+chart-container('subtypeContributions', !forExport)
			#materialContributionsTab.tab-pane
				+chart-container('materialContributions', !forExport)
			#groupedContributionsTab.tab-pane
				+chart-container('groupedContributions', false)
