mixin scripts()
	script.
		//include('js/libs/jquery.min.js')
	script.
		//include('js/libs/bootstrap.min.js')
	script.
		//include('js/libs/big.min.js')
	script.
		//include('js/libs/numeral.min.js')
	script.
		//include('js/libs/moment.min.js')
	script.
		//include('js/util/data.js')
	script.
		//include('js/util/nav.js')
	script.
		//include('js/util/util.js')
	script.
		//include('js/templates.js')
	script.
		function openInExternalBrowser(link) {
			window.open(link);
		}
	script.
		//include('js/summary-report.js')
	script.
		//include('js/analysis-report.js')
	script.
		//include('js/libs/chartist.min.js')
	script.
		//include('js/libs/chartist-plugin-tooltip.min.js')
	script.
		//include('js/charts.js')