-	var equivalents = [];
- equivalents.push({id: 'households', negativePrefix: 'Conserving', positivePrefix: 'Consuming', suffix: 'Households\' Annual Energy'});
- equivalents.push({id: 'oil', negativePrefix: 'Conserving', positivePrefix: 'Consuming', suffix: 'Barrels of Oil'});
- equivalents.push({id: 'gasoline', negativePrefix: 'Conserving', positivePrefix: 'Consuming', suffix: 'Gallons of Gasoline'});
- var notes = [];
- notes.push('a) For explanation of methodology, see the <a href="https://www.epa.gov/warm/documentation-waste-reduction-model-warm" target="_blank">EPA WARM Documentation</a>');
- notes.push('b) Emissions estimates provided by this model are intended to support voluntary GHG measurement and reporting initiatives.');
