-	var equivalents = [];
- equivalents.push({id: 'vehicles', negativePrefix: 'Removing annual emissions from', positivePrefix:'Adding annual emmissions from', suffix: 'Passenger Vehicles'});
- equivalents.push({id: 'gasoline', negativePrefix: 'Conserving', positivePrefix: 'Consuming', suffix: 'Gallons of Gasoline'});
- equivalents.push({id: 'barbeques', negativePrefix: 'Conserving', positivePrefix: 'Consuming', suffix: 'Cylinders of Propane Used for Home Barbeques'});
//- equivalents.push({id: 'railways', negativePrefix: 'Conserving', positivePrefix: 'Consuming', suffix: 'Railway Cars of Coal'});
- equivalents.push({id: 'annual_transportation', suffix: 'Annual CO2 emissions from the U.S. transportation sector', unit: '%'});
- equivalents.push({id: 'annual_energy', suffix: 'Annual CO2 emissions from the U.S. energy sector', unit: '%'});
- var notes = [];
- notes.push('a) For explanation of methodology, see the <a href="https://www.epa.gov/warm/documentation-waste-reduction-model-warm" target="_blank">EPA WARM Documentation</a>');
- notes.push('b) Emissions estimates provided by this model are intended to support voluntary GHG measurement and reporting initiatives.');
- notes.push('c) The GHG emissions results estimated in WARM indicate the full life-cycle benefits waste management alternatives. Due to the timing of the GHG emissions from the waste management pathways, (e.g., avoided landfilling and increased recycling), the actual GHG implications may accrue over the long-term. Therefore, one should not interpret the GHG emissions implications as occurring all in one year, but rather through time.');
- notes.push('d) The equivalency values included in the box to the right were developed based on the EPA <a href="https://www.epa.gov/energy/greenhouse-gas-equivalencies-calculator"  target="_blank">Greenhouse Gas Equivalencies Calculator</a> and are presented as an example of potential equivalencies. Additional equivalencies can be calculated using WARM results at the Greenhouse Gas Equivalencies Calculator website or using alternative data sources.');
