@require 'variables.styl'

header 
	height 80px
	background-color $lightBackgroundColor
	border-bottom 1px solid $borderColor
	font-size 36px
	font-weight bold
	min-width 500px

	.logo 
		margin 10px 2%
		
	.big-text
		font-size 24px
		margin-top 4px

	.bigger-text
		font-size 36px