@require 'variables.styl'

.section-header 
  background-color $darkBackgroundColor
  cursor pointer
  padding 10px
  border-radius 5px

	.glyphicon
		top 3px
		margin-right 10px
			
.section-content
	padding 0 10px

	.section-header 
		background-color $lightBackgroundColor