$grayColor = rgb(217, 217, 217)
$minWidth = 992px
$darkBackgroundColor = rgb(255, 153, 0)

$lbcR = 255
$lbcG = 227
$lbcB = 186
$lbcA = 0.75
$lightBackgroundColor = rgb($lbcR, $lbcG, $lbcB)
$lightBackgroundColorTransparent = rgba($lbcR, $lbcG, $lbcB, $lbcA)

$bcR = 232
$bcG = 187
$bcB = 12
$bcA = 0.75
$borderColor = rgb($bcR, $bcG, $bcB)
$borderColorTransparent = rgba($bcR, $bcG, $bcB, $bcA)