- var equivalents = [];
- var notes = [];
- notes.push('<i>Note: a negative value (i.e., a value in parentheses) indicates an economic impact reduction, a positive value indicates an economic impact increase.</i>')
- notes.push('a) For explanation of methodology, see the EPA WARM Documentation: <a href="https://www.epa.gov/warm/documentation-chapters-greenhouse-gas-emission-and-energy-factors-used-waste-reduction-model" target="_blank">Documentation Chapters for Greenhouse Gas Emission and Energy Factors Used in the Waste Reduction Model (WARM)</a> - available on the internet at https://www.epa.gov/warm/documentation-chapters-greenhouse-gas-emission-and-energy-factors-used-waste-reduction-model');
- notes.push('b) Economic impact estimates provided by this model are intended to support voluntary waste planning initiatives.');
- notes.push('c) Economic impacts from source reduction are not modeled in this version of WARM.');
- notes.push('d) EPA acknowledges that composting and anaerobic digestion economic impacts are undervalued in WARM factors because they are not inclusive of life-cycle impacts. See EPA WARM Documentation for more information.');
