mixin incremental-cell-with-note(title, enabled, value)
	td 
		span.with-note(title=title, data-animation='fade', data-placement='top')
			if !enabled
				| N/A
			else if value
				| #{formatNumber(value)}
			else
				| 0

tr
	td #{material.name}
	- var sourceReductionInput = 'Source Reduction (Tons)';
	- var sourceReductionResult = 'Incremental ' + type + ' from Source Reduction (' + unit + ')'; 
	- var recyclingInput = 'Incremental Recycling (Tons)';
	- var recyclingResult = 'Incremental ' + type + ' from Recycling (' + unit + ')'; 
	- var landfillingInput = 'Incremental Landfilling (Tons)';
	- var landfillingResult = 'Incremental ' + type + ' from Landfilling (' + unit + ')'; 
	- var combustionInput = 'Incremental Combustion (Tons)';
	- var combustionResult = 'Incremental ' + type + ' from Combustion (' + unit + ')'; 
	- var compostingInput = 'Incremental Composting (Tons)';
	- var compostingResult = 'Incremental ' + type + ' from Composting (' + unit + ')'; 
	- var totalResult = 'Total Incremental ' + type + ' (' + unit + ')'; 
	+incremental-cell-with-note(sourceReductionInput, !material.disabled.source_reduction, material.source_reduction_input_change)
	+incremental-cell-with-note(sourceReductionResult, !material.disabled.source_reduction, material.source_reduction_output_change)
	+incremental-cell-with-note(recyclingInput, !material.disabled.recycling, material.recycling_input_change)
	+incremental-cell-with-note(recyclingResult, !material.disabled.recycling, material.recycling_output_change)
	+incremental-cell-with-note(landfillingInput, !material.disabled.landfilling, material.landfilling_input_change)
	+incremental-cell-with-note(landfillingResult, !material.disabled.landfilling, material.landfilling_output_change)
	+incremental-cell-with-note(combustionInput, !material.disabled.combustion, material.combustion_input_change)
	+incremental-cell-with-note(combustionResult, !material.disabled.combustion, material.combustion_output_change)
	+incremental-cell-with-note(compostingInput, !material.disabled.composting, material.composting_input_change)
	+incremental-cell-with-note(compostingResult, !material.disabled.composting, material.composting_output_change)
	+incremental-cell-with-note(totalResult, true, material.output_change)