mixin per-ton-cell-with-note(title, enabled, value)
	td 
		span.with-note(title=title, data-animation='fade', data-placement='top')
			if !enabled
				| N/A
			else if value
				| #{formatNumber(value)}
			else
				| 0

tr
	td #{material.name}
	- var sourceReductionTitle = type + ' per Ton of Material Source Reduced (' + unit + ')';
	- var recyclingTitle = type + ' per Ton of Material Recycled (' + unit + ')';
	- var landfillingTitle = type + ' per Ton of Material Landfilled (' + unit + ')';
	- var combustionTitle = type + ' per Ton of Material Combusted (' + unit + ')';
	- var compostingTitle = type + ' per Ton of Material Composted (' + unit + ')';
	+per-ton-cell-with-note(sourceReductionTitle, !material.disabled.source_reduction, material['per_ton_source_reduction_result'])
	+per-ton-cell-with-note(recyclingTitle, !material.disabled.recycling, material['per_ton_recycling_result'])
	+per-ton-cell-with-note(landfillingTitle, !material.disabled.landfilling, material['per_ton_landfilling_result'])
	+per-ton-cell-with-note(combustionTitle, !material.disabled.combustion, material['per_ton_combustion_result'])
	+per-ton-cell-with-note(compostingTitle, !material.disabled.composting, material['per_ton_composting_result'])