include ../head.jade
include ../header.jade
include ../progress-indicator.jade
include ../footer.jade
include ../scripts.jade
include ../forms.jade
include ../section.jade
include ../multiline-string.jade
include summary-box.jade
include summary-box-economics.jade
include result-table.jade
include result-table-economics.jade