mixin summary-box(type)
	.summary-box.panel
		.panel-body
			h3 #{type} Analysis - Production + End-of-Life Report
			p GHG Emissions Waste Management Analysis for 
				strong#organization {organization}
			p Prepared by: 
				strong#name {name}
			p Project Period for this Analysis: 
				strong#period_from {from}
				|  to  
				strong#period_to {to}
