mixin summary-box-economics(type)
	.summary-box.panel
		.panel-body
			h3 #{type} Analysis - Summary Report
			p Economic Waste Management Analysis for 
				strong#organization {organization}
			p Prepared by: 
				strong#name {name}
			p Project Period for this Analysis: 
				strong#period_from {from}
				|  to  
				strong#period_to {to}
