mixin head()
	head
		title WARM
		link(rel='stylesheet' type='text/css' href='css/bootstrap.min.css')
		link(rel='stylesheet' type='text/css' href='css/chartist.min.css')
		link(rel='stylesheet' type='text/css' href='css/main.css')