mixin scripts()
	script(src='js/libs/jquery.min.js')
	script(src='js/libs/bootstrap.min.js')
	script(src='js/libs/big.min.js')
	script(src='js/libs/numeral.min.js')
	script(src='js/libs/moment.min.js')
	script(src='js/libs/chartist.min.js')
	script(src='js/libs/chartist-plugin-tooltip.min.js')
	script(src='js/util/data.js')
	script(src='js/util/nav.js')
	script(src='js/util/util.js')
	script(src='js/util/no-zoom.js')
